{%- macro page(data, url) %}
{% if data %}
<ul class="pagination pagination-sm no-margin pull-right">
    {% if data.page != 1 %}
    <li><a href="{{ url_for(url, page=1) }}">首页</a></li>
    {% endif %}

    {% if data.has_prev %}
    <li><a href="{{ url_for(url, page=data.prev_num) }}">上一页</a></li>
    {% endif %}

    {% for v in data.iter_pages() %}
    {% if v == data.page %}
    <li class="active"><a>{{ v }}</a></li>
    {% elif v == None %}
    <li><a>···</a></li>
    {% else %}
    <li><a href="{{ url_for(url, page=v) }}">{{ v }}</a></li>
    {% endif %}
    {% endfor %}

    {% if data.has_next %}
    <li><a href="{{ url_for(url, page=data.next_num) }}">下一页</a></li>
    {% endif %}

    {% if data.page != data.pages and data.pages != 0 %}
    <li><a href="{{ url_for(url, page=data.pages) }}">尾页</a></li>
    {% endif %}
</ul>
{% endif %}
{%- endmacro %}